* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000df;
  font-family: "Roboto", sans-serif;
}

.heading-one {
  display: flex;
  justify-content: center;
  padding: 2.5rem 2rem 2rem;
  font-size: 2rem;
  color: #ffffffd9;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 10rem 2rem 10rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: clamp(9rem, 11rem, 13rem);
  padding: 1rem;
  border-radius: 0.5rem;
  list-style: none;
  color: #ffffff66;
  background-color: #1e1e1e;
  border: 0.1rem solid #ffffff26;
  box-shadow: 0 0.25rem 1.5rem #000000cc;
  transition: transform 0.2s ease-out;
}

.list-item:hover {
  transform: translateY(-0.4rem);
}

.list-item h2,
.list-item p {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item h2 {
  font-size: 1.5rem;
  color: #ffffffd9;
}

.list-item a {
  width: fit-content;
  padding: 0.25rem 0rem 0rem 0rem;
  text-decoration: none;
  color: #4da3ff;
}

.list-item a:hover {
  text-decoration: underline;
}

.link {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  color: #4da3ff;
}

.link:hover {
  text-decoration: underline;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: clamp(12rem, 14rem, 16rem);
  margin: 0rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffffd9;
  background-color: #1e1e1e;
  border: 0.1rem solid #ffffff26;
  box-shadow: 0 0.25rem 1.5rem #000000cc;
}

.form-row-control {
  display: flex;
  flex-direction: column;
  gap: 0.115rem;
}

.form-row-control input {
  padding: 0.15rem 0rem;
  border-radius: 0.125rem;
  background-color: #ffffff26;
  border: none;
}

.form-row-control input:focus {
  outline: 0.05rem solid #ffffffd9;
}

.message-form button {
  margin: 0.25rem 0rem;
  padding: 0.3rem 0.85rem;
  font-size: 1rem;
  color: #ffffffd9;
  border-radius: 0.25rem;
  background-color: #4da3ff;
  border: none;
}

.message-form button:hover {
  background-color: rgba(77, 163, 255, 0.85);
  cursor: pointer;
}

.message-form-link,
.list-item-link {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem;
  text-decoration: none;
  color: #4da3ff;
}

.message-form-link:hover,
.list-item-link {
  text-decoration: underline;
}

.list-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(18rem, 20rem, 22rem);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #ffffff66;
  background-color: #1e1e1e;
  border: 0.1rem solid #ffffff26;
  box-shadow: 0 0.25rem 1.5rem #000000cc;
}

.list-item-details p {
  font-size: 1.25rem;
  color: #ffffffbf;
}
